NODE_ENV=development
# NODE_ENV=production
# API endpoint (full URL with /api/v1)
NEXT_PUBLIC_BASE_API_URL=https://mihad8080.merinasib.shop/api/v1
# Site root URL (no /api)
NEXT_PUBLIC_BASE_URL=https://mihad8080.merinasib.shop

NEXT_PUBLIC_SOCKET_URL=https://mihad8080.merinasib.shop

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyARzxOMrl1a6X-CZ_ZnO8_R2QcujoxCDuk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=testproject-b4807.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=testproject-b4807
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=testproject-b4807.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1009582137331
NEXT_PUBLIC_FIREBASE_APP_ID=1:1009582137331:web:a17af3b1d116d08ebe7c86
NEXT_PUBLIC_FIREBASE_VAPID_KEY=BCytM65eD3RR3oIAPUWCNnBILn82E3KbZuHYn5kVhkibseyY7OiRZMf7DDd7ZC9a9EqS_O1yLhpEhmTOBdqDVdU